.logo{
    width: 25px;
    margin-right: 10px;
}
.left-nav{
    padding-left:200px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
.container{
    display: flex;
    justify-content: center;
}